# These 3 variables are postgres-specific and MUST be defined
POSTGRES_USER="insert_user"     # database username
POSTGRES_PASSWORD="insert_password" # database password DO NOT LET ANYONE SEE THIS
POSTGRES_DB="insert_db"       # database: there are 3 default databases (postgres, template0, and template1), but it's bad practice to use/modify them. This is a 4th database, which is the one we use

POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
POSTGRES_URL_FULL="${POSTGRES_URL}?connect_timeout=30&pool_timeout=30&socket_timeout=30&schema=public" # This is the url used in the actual backend

databaseConnect="psql ${POSTGRES_URL}" # for connecting to the database from the terminal: just run $COMMAND while instide the backend container

# stripe keys DO NOT LET ANYONE SEE THESE
STRIPE_SECRET_KEY_DEV="insert_key"
STRIPE_SECTET_KEY_PROD="insert_key"
