**/node_modules
**/yarn-error.log
yarn-debug.log*
.yarn-integrity
/private

/src/frontend/dist

*env*.local
.env

**/.DS_Store

# Ignore package-lock.json in case we run npm install instead of yarn install
# Heroku doesn't let you deploy if you have a yarn.lock and package-lock.json
package-lock.json


