.scoreTable {
  // --bs-table-bg: transparent;
  // --bs-table-accent-bg: transparent;
  // --bs-table-striped-color: #212529;
  // --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  // --bs-table-active-color: #212529;
  // --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  // --bs-table-hover-color: #212529;
  // --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  // margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border: 0px solid white;
  background-color: white;
  caption-side: bottom;
  border-collapse: collapse;
  display: table;
  text-align: center;
  // text-indent: initial;
  border-radius: 5px;
  border-spacing: 2px;
  overflow-x: scroll;
  border: 1px #dee2e6 solid;
  border-bottom-right-radius: 10px;
  border-top: 0
}