.layout {
  height: 100%;
  text-align: left; 
  .title { 
    box-sizing: border-box; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5em; 
    // margin-bottom: 1em; 
    background-color: #00356b; 
    h1 { 
      color: white; 
    }
  }


  .siteLayoutWrapper{
    display: flex;
    flex-direction: column;
    .siteLayoutContent { 
      background-color: rgba(99, 170, 255, 0.2); 
      margin-left: auto;
      margin-right: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
    }
  }

  .footer { 
    text-align: center;
  }
}
