$breakpoints: (
  ty: 420px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

/* Breakpoints/screen sizes */
/* Vars can't be used in media queries, so these have to be
  scss vars instead. */
$s_minimum:                      320px; /* We don't support below this size. */
$s_tiny:                         #{map-get($breakpoints, 'ty')};
$s_small:                        #{map-get($breakpoints, 'sm')};
$s_medium:                       #{map-get($breakpoints, 'md')};
$s_large:                        #{map-get($breakpoints, 'lg')};
$s_extra_large:                  #{map-get($breakpoints, 'xl')};

$s_small_phone:                  #{$s_tiny};
$s_large_phone:                  #{$s_small};
$s_tablet:                       #{$s_medium};
$s_desktop:                      #{$s_large};
$s_large_desktop:                #{$s_extra_large};

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}