.headerRow {
  text-align: center;
}

.headerRow:hover {
  background-color: lightgray;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom: 1px #dee2e6 solid;
}

tr {
  display: table-row;
  vertical-align: inherit;
  // border-bottom: solid 1px black;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  // border-bottom: solid 1px black;
}

td {
  padding: 1vh 0;
}

