.navbar{
  display: flex;
  flex: 100%;
  justify-content: space-evenly;
  align-items: stretch;
}

.basicTab {
  padding: 10px 0;
  border: 1px #00356b solid;
  border-radius: 10px 10px 0 0;
  flex: 25%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.tab {
  @extend .basicTab;
  background-color: #00356b;
  color: white;
  &:hover {
    background-color: #ffffff;
    color: #00356b;
  }
}

.activeTab {
  @extend .basicTab;
  background-color: #ffffff;
  color: #00356b;
}

// &.highlighted {
//   background-color: #ffffff;
//   color: #00356b;
// } 