.button {
  display: inline-block;
  background-color: #347be6;
  border-radius: 10px;
  border: 2px solid #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  // width: 150px;
  cursor: pointer;
  margin: 5px;
}

