fieldset {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding-left: 10%;
  padding-bottom: 0;
  
  .header {
    margin: 0;
  }
  
  .inputControl{
    line-height: 1.1;

    label {
      padding-left: 5px;
    }
      
    .button {
      -webkit-appearance: none;
      appearance: none;
      background-color:white;
      margin: 0;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: .15em solid currentColor;
      border-radius: 50%;
      &:hover {
        background-color: #ccc;
      }
      &:checked {
        background-color: #00356b;
      }
    }
  }
  
  
    // .button::before {
    //   width: .65em;
    //   height: .65em;
    //   border-radius: 50%;
    //   transform: scale(0);
    //   transition: 120ms transform ease-in-out;
    //   background-color: inset 1em 1em #00356b;
    // }
      
    // .button:checked::before{
    //   transform: scale(1);
    // }
      
  //}

  
}

