* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width:100vw;
  margin-top: 20px;
  margin-bottom: 20px;

  form {
    background-color: white;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;

    .submitWrapper {
      display: flex;
      justify-content: center;
    }
    
    .otherSelect {
      padding-left: 10%;
      padding-bottom: 5px;
      
      label {
        padding-left: 5px;
      }

      .button {
        -webkit-appearance: none;
        appearance: none;
        background-color:white;
        margin: 0;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: .15em solid currentColor;
        border-radius: 50%;
        &:hover {
          background-color: #ccc;
        }
        &:checked {
          background-color: #00356b;
        }
      }
      .textButton {
        visibility: hidden;
      }
      .button:checked ~ .textButton {
        visibility:visible;
        
      }
    }
    
  }
}
